<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.print.demo" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.hardware.usb.host" />

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/smallsilver"
        android:label="@string/app_name"
        android:roundIcon="@drawable/smallsilver"
        android:supportsRtl="true"
        android:theme="@style/Theme.main">
        <activity
            android:name=".StarterActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.main.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            />
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
       <activity
            android:name=".bluetooth.BluetoothDeviceList"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".wifi.WifiDeviceList"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".usb.UsbDeviceList"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
    </application>

</manifest>